body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: teal;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: snow;
}

h1 {
  margin: 0;
}

main {
  width: 90%;
  margin: auto;
}

section {
  background-color: rgb(113, 163, 163);
  padding: .5em;
  margin-bottom: 1em;
}

th {
  text-align: left;
}


#bookshelf {
  border: 1px 1px black;
  font-size: 20pt;
}

tr {
  border: 1px 1px black;
}

th {
  font-size: 26pt;
}